
{% extends "base.html.twig" %}

{% block body %}

<div>
    <form action="/login" method="POST">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

{#        {% if app.user %}#}
{#            <div class="mb-3">#}
{#                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#            </div>#}
{#        {% endif %}#}

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="email_id">Email Id:</label>
        <input type="email" value="{{ last_username }}" name="email_id" id="email_id" class="form-control" required autofocus>
        <label for="inputPassword">Password:</label>
        <input type="password" name="password" id="password" class="form-control" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
    </form>
</div>
{% endblock %}
